{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatLink🎧</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>
<body style="margin:0; padding:0; background:#121212; font-family:Arial, sans-serif; color:#fff; background-image: url('{% static "dj4.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">

    
    
    <div class="sidebar">
        <!-- Spotify Logo -->
        <div class="logo-container">
            <img src="{% static 'beatlink.png' %}" alt="Spotify Logo" style="width: 100%; height: auto; padding: 20px; box-sizing: border-box;">
        </div>

        <!-- Welcome User -->
        <div class="sidebar-section">
            <span style="margin-left: 2px;" class="sidebar-link-icon">👤</span>
            <b>Welcome, {{user.username}}</b>
            <br>
            <br>

            <a href="/logout">
                <span class="sidebar-link-icon">↪️</span>
                <b>Logout</b>
            </a>
        </div>

        <!-- Top section of the sidebar -->
        <div class="sidebar-section">
            <a href="/" class="sidebar-link active">
                <span class="sidebar-link-icon">🏠</span>
                Home
            </a>
            <a href="/search" class="sidebar-link">
                <span class="sidebar-link-icon">🔍</span>
                Search
            </a>
            <a href="/settings" class="sidebar-link">
                <span class="sidebar-link-icon">⚙️</span>
                Settings
            </a>
        </a>
        <a href="/liked_songs" class="sidebar-link">
            <span class="sidebar-link-icon">❤️</span>
            Liked Songs
        </a>
        </div>

    </div>
    

    <div style="margin-left:240px; padding:20px;">
        <header class="header-container">
            <form action="search" method="POST">
                {% csrf_token %}

                <div class="search-bar">
                    <input type="search" name="search_query" placeholder="What do you want to listen to?" aria-label="Search">
                    <button type="submit" aria-label="Search">
                        🔍
                    </button>
                </div>
            </form>
            
        </header>


        
        
        
        
        </main>
        
        </div>
        
</body>